<script src="vendor/angular.min.js"></script>
<script src="app/spicy.js"></script>
<link type="text/css" href="css/app.css" rel="stylesheet">
<div ng-app="myapp" ng-controller="SpicyController">
    <button ng-click="chiliSpicy()">Chili</button>
    <button ng-click="jalapenoSpicy()">Jalapeño</button>
    <p>The food is {{spice}} spicy!</p>
    <div class="spicy">
      <div ng-controller="MainController">
        <p>Good {{timeOfDay}}, {{name}}!</p>
    
        <div ng-controller="ChildController">
          <p>Good {{timeOfDay}}, {{name}}!</p>
    
          <div ng-controller="GrandChildController">
            <p>Good {{timeOfDay}}, {{name}}!</p>
          </div>
        </div>
      </div>
    </div>
</div>
